html, body {
    font-family: Roboto;
    font-size: 16px;
}

textarea:focus, input:focus{
    outline: 0;
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}

#app-heading {
    position: relative;
    color : rgba(248,177,72,0.8);
    font-size: 6.25rem;
    text-align: center;
}
/***************************************/

#todo-wrapper {
    box-shadow:0px 0px 5px #A9A9A9;
    -webkit-box-shadow: 0px 0px 20px #A9A9A9;
    -webkit-padding: 3px;

    border-width: 1px;
    border-color: transparent;
    border-style: inset;

    outline: 0;
}

#add-todo-input {
    width: 100%;
    padding-left: 60px;
    height: 70px;
    font-size: 1.563rem;
    border: none;
}

/*#input:focus {
    box-shadow:0px 0px 5px #F8A639/!*#E89595*!/;
    -webkit-box-shadow: 0px 0px 20px #F8A639/!*#E89595*!/;
    -webkit-padding: 3px;

    border-width: 1px;
    border-color: transparent;
    border-style: inset;

    outline: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(230,230,230,1.9);
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: rgba(230,230,230,1.9);
}*/

/***************************************/
#todo-list {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}

#todo-list > li {
    position: relative;
    border: 1px solid rgba(249,198,103,0.4)/*#E6E6E6*/;
    height: 70px;
    line-height: 70px;
    list-style-type: none;
    font-size: 1.563rem;
    padding-left: 60px;
}

.btnRemove {
    position: absolute;
    right: 0px;
    border: none;
    color: #F8A639;
    background-color: rgba(250,255,189,0.8);
    font-size: 15px;
    font-weight: bold;
}
/***************************************/
#items-left {
    color: #777777;
    margin: 0;
}

#buttons-wrapper {
    text-align: center;
}

.btn {
    color: #777777;
    border: transparent;
    background-color: transparent;
}

footer {
    border: 2px solid /*rgba(249,198,103,0.4)*/#E6E6E6;
    height: 70px;
}

footer > * {
    float: left;
    width: 33.333%;
    height: 70px;
    line-height: 70px;
}

#items-right {
    text-align: right;
}
#items-right > input {
    position: relative;
    top: 27px;
}

